/* ==========================================================================
   Include variables and mixins
   ========================================================================== */
/* ==========================================================================
   Color variables
   ========================================================================== */
/* ==========================================================================
   Typography variables
   ========================================================================== */
/* ==========================================================================
   Box variables
   ========================================================================== */
/* ==========================================================================
   Devices screen size variables
   ========================================================================== */
/* ==========================================================================
   Typography mixins
   ========================================================================== */
/* ==========================================================================
   Typography mixins - end
   ========================================================================== */
/* ==========================================================================
   Menu mixins - begin
   ========================================================================== */
/* ==========================================================================
   Menu mixins - end
   ========================================================================== */
/* ==========================================================================
   Layout mixins - begin
   ========================================================================== */
/* ==========================================================================
   Layout mixins - end
   ========================================================================== */
/* ==========================================================================
   Input fields mixins - begin
   ========================================================================== */
/* ==========================================================================
   Input fields mixins - end
   ========================================================================== */
/* ==========================================================================
   Pagination mixins - begin
   ========================================================================== */
/* ==========================================================================
   Pagination mixins - end
   ========================================================================== */
/* ==========================================================================
   Grid size mixins - begin
   ========================================================================== */
/* ==========================================================================
   Grid size mixins - end
   ========================================================================== */
/* ==========================================================================
   Helper mixins - begin
   ========================================================================== */
/* ==========================================================================
   Helper mixins - end
   ========================================================================== */
/* ==========================================================================
   Clear fix mixin - begin
   ========================================================================== */
/* ==========================================================================
   Clear fix mixin - end
   ========================================================================== */
/* ==========================================================================
   Custom mixins - begin
   ========================================================================== */
/* ==========================================================================
   Custom mixins - end
   ========================================================================== */
/* ==========================================================================
   Button mixins - start
   ========================================================================== */
/* ==========================================================================
   Button mixins - end
   ========================================================================== */
/* ==========================================================================
   Tabs mixins - start
   ========================================================================== */
/* ==========================================================================
   Tabs mixins - end
   ========================================================================== */
/* ==========================================================================
   Animation mixins - start
   ========================================================================== */
/* ==========================================================================
   Animation mixins - end
   ========================================================================== */
/* ==========================================================================
   Misc mixin - begin
   ========================================================================== */
/* ==========================================================================
   Misc mixin - end
   ========================================================================== */
/* ==========================================================================
   3.0 Alignments styles
   ========================================================================== */
.alignleft {
  float: left;
  text-align: left;
  margin: 1rem 2rem 1rem 0 !important;
  clear: left;
}

.aligncenter {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignright {
  float: right;
  text-align: right;
  margin: 1rem 0 1rem 2rem !important;
  clear: right;
}

body:not([class*="oraiste-core"]) .alignright {
  clear: right;
}

.qodef-content-alignment-left {
  text-align: left;
}

.qodef-content-alignment-center {
  text-align: center;
}

.qodef-content-alignment-right {
  text-align: right;
}

/* ==========================================================================
   Gutenberg Admin styles - begin
   ========================================================================== */
.editor-styles-wrapper {
  /* ==========================================================================
   1.0 Reset default styles
   ========================================================================== */
  /* ==========================================================================
   6.0 Input Fields styles
   ========================================================================== */
  /* ==========================================================================
   Select 2 Script styles (Version: 4.0.6 ) - begin
   ========================================================================== */
  /* ==========================================================================
   Search appearance tweak begin
   ========================================================================== */
  /* ==========================================================================
   Autocomplete appearance tweak begin
   ========================================================================== */
}

.editor-styles-wrapper * {
  box-sizing: border-box;
}

.editor-styles-wrapper article, .editor-styles-wrapper aside, .editor-styles-wrapper details, .editor-styles-wrapper figcaption, .editor-styles-wrapper figure, .editor-styles-wrapper footer, .editor-styles-wrapper header, .editor-styles-wrapper nav, .editor-styles-wrapper section, .editor-styles-wrapper main {
  display: block;
}

.editor-styles-wrapper del {
  text-decoration: line-through;
}

.editor-styles-wrapper pre {
  background-color: #f6f3ee;
  color: #696969 !important;
  font-family: monospace !important;
  font-size: 1em !important;
  margin: 15px 0;
  max-width: 100%;
  padding: 15px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.editor-styles-wrapper code {
  background-color: #f6f3ee !important;
  color: #696969 !important;
  font-family: monospace, monospace !important;
  font-size: 1em !important;
  padding: 0 !important;
}

.editor-styles-wrapper sub,
.editor-styles-wrapper sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.editor-styles-wrapper sub {
  bottom: -0.25em;
}

.editor-styles-wrapper sup {
  top: -0.5em;
}

.editor-styles-wrapper table {
  border: medium none;
  border-collapse: collapse;
  border-spacing: 0;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  vertical-align: middle;
  width: 100%;
}

.editor-styles-wrapper table tr {
  border: 1px solid var(--qode-additional-border-color) !important;
}

.editor-styles-wrapper table th {
  border-right: 1px solid var(--qode-additional-border-color);
  padding: 5px 7px !important;
  text-align: left;
}

.editor-styles-wrapper table td {
  border: 0 !important;
  border-right: 1px solid var(--qode-additional-border-color) !important;
  padding: 5px 10px !important;
  text-align: left;
}

.editor-styles-wrapper table td br {
  display: none;
}

.editor-styles-wrapper hr {
  background-color: var(--qode-border-color);
  border: 0 !important;
  height: 1px;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.editor-styles-wrapper hr:not(.is-style-wide):not(.is-style-dots) {
  max-width: 100px;
}

body:not([class*="oraiste-core"]) .editor-styles-wrapper hr {
  clear: both;
}

.editor-styles-wrapper ul, .editor-styles-wrapper ol {
  list-style-position: inside;
  margin-bottom: 1.5em !important;
  padding: 0 !important;
}

.editor-styles-wrapper ul.wp-block, .editor-styles-wrapper ol.wp-block {
  margin-bottom: 1.5em !important;
}

.editor-styles-wrapper ul:not(.wp-block), .editor-styles-wrapper ol:not(.wp-block) {
  margin: 0 0 1.5em !important;
}

.editor-styles-wrapper li > ul:not(.wp-block),
.editor-styles-wrapper li > ol:not(.wp-block) {
  margin-bottom: 0 !important;
  margin-left: 1.5em !important;
}

.editor-styles-wrapper dt {
  font-weight: 700;
}

.editor-styles-wrapper dd {
  margin: 0 1.5em 1.5em;
}

.editor-styles-wrapper a img {
  border: none;
}

.editor-styles-wrapper img, .editor-styles-wrapper .wp-caption {
  height: auto;
  max-width: 100%;
}

.editor-styles-wrapper img {
  border-style: none;
  vertical-align: middle;
}

.editor-styles-wrapper figure {
  margin: 0;
}

.editor-styles-wrapper figure.alignleft {
  margin-right: 1.5em;
}

.editor-styles-wrapper figure.alignright {
  margin-left: 1.5em;
}

.editor-styles-wrapper embed,
.editor-styles-wrapper iframe,
.editor-styles-wrapper object {
  display: block;
  max-width: 100%;
}

.editor-styles-wrapper video {
  display: block;
}

.editor-styles-wrapper embed,
.editor-styles-wrapper object {
  height: auto;
}

.editor-styles-wrapper label {
  color: var(--qode-additional-text-color);
  display: block;
  font-size: 0.866em;
  margin-bottom: 0.5em;
}

.editor-styles-wrapper fieldset {
  margin-bottom: 1em;
  padding: 0.35em 0.75em 0.625em;
}

.editor-styles-wrapper input[type='submit'] {
  -webkit-appearance: none;
}

.editor-styles-wrapper abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

.editor-styles-wrapper b,
.editor-styles-wrapper strong {
  font-weight: bolder;
}

.editor-styles-wrapper kbd,
.editor-styles-wrapper samp {
  background-color: var(--qode-additional-background-color);
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

.editor-styles-wrapper small {
  font-size: 80%;
}

.editor-styles-wrapper progress {
  vertical-align: baseline;
}

.editor-styles-wrapper summary {
  display: list-item;
}

.editor-styles-wrapper template {
  display: none;
}

.editor-styles-wrapper figcaption,
.editor-styles-wrapper .wp-caption,
.editor-styles-wrapper .gallery-caption {
  color: var(--qode-text-color) !important;
  display: block;
  font-family: "Prompt", sans-serif !important;
  font-size: 13px !important;
  line-height: 1em !important;
  font-weight: 300 !important;
  margin: 10px auto 0;
  max-width: 100%;
  opacity: 1;
  text-align: left;
}

.editor-styles-wrapper figcaption a,
.editor-styles-wrapper .wp-caption a,
.editor-styles-wrapper .gallery-caption a {
  color: inherit;
}

.editor-styles-wrapper .wp-caption .wp-caption-text {
  opacity: 1;
}

.editor-styles-wrapper blockquote.instagram-media,
.editor-styles-wrapper iframe.instagram-media {
  margin: auto !important;
}

.editor-styles-wrapper .sticky,
.editor-styles-wrapper .bypostauthor {
  opacity: 1;
}

.editor-styles-wrapper ::selection {
  background-color: var(--qode-main-color);
  color: var(--qode-background-color);
}

.editor-styles-wrapper ::-moz-selection {
  background-color: var(--qode-main-color);
  color: var(--qode-background-color);
}

.editor-styles-wrapper input[type="text"],
.editor-styles-wrapper input[type="email"],
.editor-styles-wrapper input[type="url"],
.editor-styles-wrapper input[type="password"],
.editor-styles-wrapper input[type="number"],
.editor-styles-wrapper input[type="tel"],
.editor-styles-wrapper input[type="search"],
.editor-styles-wrapper input[type="date"],
.editor-styles-wrapper textarea {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  background-color: var(--qode-background-color);
  border-radius: 0;
  box-sizing: border-box;
  color: var(--qode-text-color);
  cursor: pointer;
  font-family: inherit;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  margin: 0 0 34px;
  outline: 0;
  transition: color 0.2s ease-out, background-color 0.2s ease-out, border-color 0.2s ease-out;
}

.editor-styles-wrapper input[type="text"]:focus,
.editor-styles-wrapper input[type="email"]:focus,
.editor-styles-wrapper input[type="url"]:focus,
.editor-styles-wrapper input[type="password"]:focus,
.editor-styles-wrapper input[type="number"]:focus,
.editor-styles-wrapper input[type="tel"]:focus,
.editor-styles-wrapper input[type="search"]:focus,
.editor-styles-wrapper input[type="date"]:focus,
.editor-styles-wrapper textarea:focus {
  background-color: var(--qode-background-color);
  border-color: var(--qode-heading-color);
  color: var(--qode-heading-color);
}

.editor-styles-wrapper input[type="text"]:-ms-input-placeholder, .editor-styles-wrapper input[type="email"]:-ms-input-placeholder, .editor-styles-wrapper input[type="url"]:-ms-input-placeholder, .editor-styles-wrapper input[type="password"]:-ms-input-placeholder, .editor-styles-wrapper input[type="number"]:-ms-input-placeholder, .editor-styles-wrapper input[type="tel"]:-ms-input-placeholder, .editor-styles-wrapper input[type="search"]:-ms-input-placeholder, .editor-styles-wrapper input[type="date"]:-ms-input-placeholder, .editor-styles-wrapper textarea:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

.editor-styles-wrapper input[type="text"]::placeholder,
.editor-styles-wrapper input[type="email"]::placeholder,
.editor-styles-wrapper input[type="url"]::placeholder,
.editor-styles-wrapper input[type="password"]::placeholder,
.editor-styles-wrapper input[type="number"]::placeholder,
.editor-styles-wrapper input[type="tel"]::placeholder,
.editor-styles-wrapper input[type="search"]::placeholder,
.editor-styles-wrapper input[type="date"]::placeholder,
.editor-styles-wrapper textarea::placeholder {
  color: inherit;
  opacity: 1;
}

.editor-styles-wrapper input[type="text"],
.editor-styles-wrapper input[type="email"],
.editor-styles-wrapper input[type="url"],
.editor-styles-wrapper input[type="password"],
.editor-styles-wrapper input[type="number"],
.editor-styles-wrapper input[type="tel"],
.editor-styles-wrapper input[type="search"],
.editor-styles-wrapper input[type="date"] {
  border-bottom: 1px solid var(--qode-border-color);
  border-left: none;
  border-right: none;
  border-top: none;
  padding: 4px 3px;
}

.editor-styles-wrapper textarea {
  border: 1px solid var(--qode-border-color);
  padding: 8px 10px;
}

.editor-styles-wrapper input[type="text"],
.editor-styles-wrapper input[type="email"],
.editor-styles-wrapper input[type="url"],
.editor-styles-wrapper input[type="password"],
.editor-styles-wrapper input[type="number"],
.editor-styles-wrapper input[type="tel"],
.editor-styles-wrapper input[type="search"],
.editor-styles-wrapper textarea {
  -webkit-appearance: none;
}

.editor-styles-wrapper input[type="checkbox"] {
  -webkit-appearance: initial;
          appearance: initial;
  color: var(--qode-additional-text-color);
  height: 15px;
  position: relative;
  visibility: hidden;
  width: 15px;
}

.editor-styles-wrapper input[type="checkbox"]:before {
  border: 1px solid currentColor;
  box-sizing: border-box;
  content: '';
  height: 15px;
  position: absolute;
  right: 0;
  top: 0;
  visibility: visible;
  width: 15px;
}

.editor-styles-wrapper input[type="checkbox"]:checked:after {
  color: currentColor;
  content: '\2713';
  font-size: 15px;
  height: 15px;
  line-height: 15px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  visibility: visible;
  width: 15px;
}

.editor-styles-wrapper .post-password-form input[type="password"] {
  margin-top: 0.5em;
}

@media only screen and (min-width: 769px) {
  .editor-styles-wrapper .post-password-form input[type="password"] {
    display: block;
    max-width: 50%;
  }
}

.editor-styles-wrapper input[type="submit"]:not(.qodef-button),
.editor-styles-wrapper button[type="submit"]:not(.qodef-button),
.editor-styles-wrapper .qodef-theme-button {
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 2em;
  color: var(--qode-additional-text-color);
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 0;
  display: inline-block;
  line-height: 1.45em;
  margin: 0;
  outline: none;
  position: relative;
  text-decoration: none;
  transition: color 0.2s ease-out, background-color 0.2s ease-out, border-color 0.2s ease-out;
  vertical-align: middle;
  width: auto;
  cursor: pointer;
  padding: 10px 39px;
  color: var(--qode-background-color);
  background-color: var(--qode-heading-color);
  border: 1px solid transparent;
  cursor: pointer;
}

.editor-styles-wrapper input[type="submit"]:not(.qodef-button):hover,
.editor-styles-wrapper button[type="submit"]:not(.qodef-button):hover,
.editor-styles-wrapper .qodef-theme-button:hover {
  color: var(--qode-background-color);
  background-color: var(--qode-main-color);
}

.editor-styles-wrapper button[type="submit"]:not(.qodef-button) span,
.editor-styles-wrapper .qodef-theme-button span {
  display: block;
  line-height: inherit;
}

.editor-styles-wrapper button[type="submit"]:not(.qodef-button) span:before,
.editor-styles-wrapper .qodef-theme-button span:before {
  display: block;
  line-height: inherit;
}

.editor-styles-wrapper select {
  -webkit-appearance: none;
  background-color: var(--qode-background-color);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB4PScwcHgnIHk9JzBweCcgd2lkdGg9JzEwLjhweCcgaGVpZ2h0PSc2LjJweCcgdmlld0JveD0nMCAwIDEwLjggNi4yJyBzdHlsZT0nZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMC44IDYuMjsnIHhtbDpzcGFjZT0ncHJlc2VydmUnPjxwYXRoIHN0eWxlPSdmaWxsOiAjQThBN0E3JyBkPSdNMTAuNiwwLjNjMC4zLDAuMywwLjMsMC43LDAsMUw1LjksNS45QzUuOCw2LjEsNS42LDYuMiw1LjQsNi4yQzUuMiw2LjIsNSw2LjEsNC45LDUuOUwwLjIsMS4zIGMtMC4zLTAuMy0wLjMtMC43LDAtMWMwLjMtMC4zLDAuNy0wLjMsMSwwbDQuMiw0LjFsNC4yLTQuMUM5LjktMC4xLDEwLjItMC4xLDEwLjYsMC4zeicvPjwvc3ZnPg==");
  background-position: calc(100% - 20px) center;
  background-repeat: no-repeat;
  border-bottom: 1px solid var(--qode-border-color);
  border-left: none;
  border-radius: 0;
  border-right: none;
  border-top: none;
  color: var(--qode-text-color);
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: 15px;
  font-weight: inherit;
  height: auto;
  line-height: 24px;
  margin: 0;
  outline: none;
  padding: 4px 3px;
  position: relative;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.editor-styles-wrapper select option {
  color: var(--qode-text-color);
}

.editor-styles-wrapper select:disabled {
  background-color: var(--qode-additional-background-color);
  border-color: inherit;
  box-shadow: none;
  color: inherit;
  text-shadow: none;
}

.editor-styles-wrapper select.qodef-arrow--light {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB4PScwcHgnIHk9JzBweCcgd2lkdGg9JzEwLjhweCcgaGVpZ2h0PSc2LjJweCcgdmlld0JveD0nMCAwIDEwLjggNi4yJyBzdHlsZT0nZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMC44IDYuMjsnIHhtbDpzcGFjZT0ncHJlc2VydmUnPjxwYXRoIHN0eWxlPSdmaWxsOiAjZmZmJyBkPSdNMTAuNiwwLjNjMC4zLDAuMywwLjMsMC43LDAsMUw1LjksNS45QzUuOCw2LjEsNS42LDYuMiw1LjQsNi4yQzUuMiw2LjIsNSw2LjEsNC45LDUuOUwwLjIsMS4zIGMtMC4zLTAuMy0wLjMtMC43LDAtMWMwLjMtMC4zLDAuNy0wLjMsMSwwbDQuMiw0LjFsNC4yLTQuMUM5LjktMC4xLDEwLjItMC4xLDEwLjYsMC4zeicvPjwvc3ZnPg==");
}

.editor-styles-wrapper .select2-container--default {
  /* just to make sure that this code overwrite styles from others plugin */
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default {
  display: inline-block;
  margin: 0 0 34px;
  position: relative;
  vertical-align: top;
  width: auto;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-selection--single {
  background-color: var(--qode-background-color);
  border-bottom: 1px solid var(--qode-border-color);
  border-left: none;
  border-radius: 0;
  border-right: none;
  border-top: none;
  color: var(--qode-text-color);
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: 15px;
  font-weight: inherit;
  height: auto;
  line-height: 24px;
  margin: 0;
  outline: none;
  padding: 4px 3px;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: inherit;
  display: block;
  line-height: inherit;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: inherit;
  margin: 0;
  position: relative;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: inherit;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow {
  align-items: center;
  color: var(--qode-text-color);
  display: flex;
  font-size: 16px;
  height: 100%;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow:before {
  content: '\25BE';
  font-family: initial;
  display: block;
  font-style: normal;
  line-height: inherit;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-selection--multiple {
  background-color: var(--qode-background-color);
  border-bottom: 1px solid var(--qode-border-color);
  border-left: none;
  border-radius: 0;
  border-right: none;
  border-top: none;
  color: var(--qode-text-color);
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: 15px;
  font-weight: inherit;
  height: auto;
  line-height: 24px;
  margin: 0;
  outline: none;
  padding: 4px 3px;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-selection--multiple .select2-selection__rendered {
  color: inherit;
  display: block;
  line-height: inherit;
  list-style: none;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  margin: 0;
  padding: 0;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__placeholder {
  color: inherit;
  float: left;
  margin: 0;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: inherit;
  margin: 0;
  position: relative;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
  background-color: #000000;
  border: 0;
  border-radius: 0;
  color: var(--qode-background-color);
  cursor: default;
  float: left;
  margin: 2px;
  padding: 5px 10px;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice__remove {
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-weight: 300;
  font-size: 120%;
  margin: 0 7px 0 0;
  transition: opacity .2s ease-out;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice__remove:hover {
  color: inherit;
  opacity: 0.8;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-search--inline {
  float: left;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-search--inline .select2-search__field {
  -webkit-appearance: none;
  border: none !important;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin: 0 !important;
  outline: none;
  padding: 0 !important;
  width: 100%;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-dropdown {
  background-color: var(--qode-background-color);
  border: 1px solid var(--qode-additional-border-color);
  border-radius: 0;
  display: block;
  left: -100000px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99999;
}

.admin-bar[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-dropdown {
  top: 32px;
}

@media only screen and (max-width: 782px) {
  .admin-bar[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-dropdown {
    top: 46px;
  }
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-dropdown.qodef--flat {
  background-color: var(--qode-submenu-background-color);
  border: none;
  color: var(--qode-additional-text-color);
  text-align: right;
  left: 20px !important;
}

@media only screen and (max-width: 680px) {
  [class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-dropdown.qodef--flat {
    text-align: left;
    left: -20px !important;
  }
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-search--dropdown {
  display: block;
  padding: 14px 15px 2px;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-search--dropdown.select2-search--hide {
  display: none;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-search--dropdown .select2-search__field {
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid var(--qode-additional-border-color);
  color: var(--qode-text-color);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 4px 8px;
  width: 100%;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-search--dropdown .select2-search__field:focus {
  background-color: transparent;
  border-color: var(--qode-additional-border-color);
  color: var(--qode-text-color);
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-results {
  display: block;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-results__options {
  list-style: none;
  margin: 20px 0;
  padding: 0 20px;
  position: relative;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-results__option {
  font-size: 15px;
  line-height: 24px;
  padding: 3px 0;
  transition: color 0.2s ease-out;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-results__option[aria-selected] {
  cursor: pointer;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-results__option[role=group] {
  padding: 0;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-results__option[aria-disabled=true] {
  color: #000000;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-results__option[aria-selected=true], [class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-results__option[data-selected=true] {
  background: none;
  color: var(--qode-heading-color);
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: none;
  color: var(--qode-heading-color);
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 7px 0;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding: 0;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 0;
  right: auto;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice,
[class*="oraiste"] .editor-styles-wrapper .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder,
[class*="oraiste"] .editor-styles-wrapper .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
  float: right;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__rendered {
  padding: 0;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin: 7px auto 0 5px;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin: 0 auto 0 3px;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default.select2-container--focus .select2-selection--single,
[class*="oraiste"] .editor-styles-wrapper .select2-container--default.select2-container--focus .select2-selection--multiple {
  border-left: none;
  border-right: none;
  border-top: none;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default.select2-container--disabled .select2-selection--single,
[class*="oraiste"] .editor-styles-wrapper .select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: var(--qode-additional-background-color);
  cursor: default;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear,
[class*="oraiste"] .editor-styles-wrapper .select2-container--default.select2-container--disabled .select2-selection--multiple .select2-selection__clear {
  display: none;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default.select2-container--open .select2-selection--single,
[class*="oraiste"] .editor-styles-wrapper .select2-container--default.select2-container--open .select2-selection--multiple {
  border-color: var(--qode-additional-border-color);
  color: var(--qode-heading-color);
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default.select2-container--open .select2-dropdown {
  left: 0;
}

[class*="oraiste"] .editor-styles-wrapper .select2-container--default.select2-container--open .select2-dropdown.select2-dropdown--below {
  border-top-color: transparent;
}

.editor-styles-wrapper .select2-close-mask {
  background-color: var(--qode-background-color);
  border: 0;
  display: block;
  filter: alpha(opacity=0);
  height: auto;
  left: 0;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: auto;
  z-index: 99;
}

.editor-styles-wrapper .select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
  height: 0 !important;
  line-height: 1;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.editor-styles-wrapper input[type="search"]::-webkit-search-decoration, .editor-styles-wrapper input[type="search"]::-webkit-search-cancel-button, .editor-styles-wrapper input[type="search"]::-webkit-search-results-button, .editor-styles-wrapper input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.editor-styles-wrapper input[type="search"]::-ms-clear,
.editor-styles-wrapper input[type="text"]::-ms-clear {
  display: none;
}

.editor-styles-wrapper input:-webkit-autofill {
  -webkit-animation-delay: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: qodefAutofillFix;
}

.editor-styles-wrapper .mce-content-body,
.editor-styles-wrapper .block-editor-block-list__layout,
.editor-styles-wrapper p.wp-block {
  font-family: "Prompt", sans-serif;
  font-size: 15px;
  line-height: 1.666em;
  font-weight: 300;
}

.editor-styles-wrapper .mce-content-body:not(.has-text-color),
.editor-styles-wrapper .block-editor-block-list__layout:not(.has-text-color),
.editor-styles-wrapper p.wp-block:not(.has-text-color) {
  color: #696969;
}

.editor-styles-wrapper .block-editor-block-list__layout {
  max-width: 1100px;
  margin: 0 auto;
  box-sizing: content-box;
}

body .editor-styles-wrapper h1,
body .editor-styles-wrapper h1.wp-block,
body .editor-styles-wrapper h1.rich-text {
  font-family: var(--qode-heading-font-family) !important;
  text-transform: var(--qode-heading-text-transform) !important;
  color: var(--qode-heading-color) !important;
  font-size: var(--qode-h1-fs);
  line-height: var(--qode-h1-lh);
  font-weight: var(--qode-heading-font-weight);
  margin-top: 25px !important;
  margin-bottom: 25px !important;
  word-wrap: break-word !important;
}

body .editor-styles-wrapper h1 a,
body .editor-styles-wrapper h1.wp-block a,
body .editor-styles-wrapper h1.rich-text a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

body .editor-styles-wrapper h1 a:focus, body .editor-styles-wrapper h1 a:hover,
body .editor-styles-wrapper h1.wp-block a:focus,
body .editor-styles-wrapper h1.wp-block a:hover,
body .editor-styles-wrapper h1.rich-text a:focus,
body .editor-styles-wrapper h1.rich-text a:hover {
  color: var(--qode-link-hover-color) !important;
}

body .editor-styles-wrapper h2,
body .editor-styles-wrapper h2.wp-block,
body .editor-styles-wrapper h2.rich-text {
  font-family: var(--qode-heading-font-family) !important;
  text-transform: var(--qode-heading-text-transform) !important;
  color: var(--qode-heading-color) !important;
  font-size: var(--qode-h2-fs);
  line-height: var(--qode-h2-lh);
  font-weight: var(--qode-heading-font-weight);
  margin-top: 25px !important;
  margin-bottom: 25px !important;
  word-wrap: break-word !important;
}

body .editor-styles-wrapper h2 a,
body .editor-styles-wrapper h2.wp-block a,
body .editor-styles-wrapper h2.rich-text a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

body .editor-styles-wrapper h2 a:focus, body .editor-styles-wrapper h2 a:hover,
body .editor-styles-wrapper h2.wp-block a:focus,
body .editor-styles-wrapper h2.wp-block a:hover,
body .editor-styles-wrapper h2.rich-text a:focus,
body .editor-styles-wrapper h2.rich-text a:hover {
  color: var(--qode-link-hover-color) !important;
}

body .editor-styles-wrapper h3,
body .editor-styles-wrapper h3.wp-block,
body .editor-styles-wrapper h3.rich-text {
  font-family: var(--qode-heading-font-family) !important;
  text-transform: var(--qode-heading-text-transform) !important;
  color: var(--qode-heading-color) !important;
  font-size: var(--qode-h3-fs);
  line-height: var(--qode-h3-lh);
  font-weight: var(--qode-heading-font-weight);
  margin-top: 25px !important;
  margin-bottom: 25px !important;
  word-wrap: break-word !important;
}

body .editor-styles-wrapper h3 a,
body .editor-styles-wrapper h3.wp-block a,
body .editor-styles-wrapper h3.rich-text a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

body .editor-styles-wrapper h3 a:focus, body .editor-styles-wrapper h3 a:hover,
body .editor-styles-wrapper h3.wp-block a:focus,
body .editor-styles-wrapper h3.wp-block a:hover,
body .editor-styles-wrapper h3.rich-text a:focus,
body .editor-styles-wrapper h3.rich-text a:hover {
  color: var(--qode-link-hover-color) !important;
}

body .editor-styles-wrapper h4,
body .editor-styles-wrapper h4.wp-block,
body .editor-styles-wrapper h4.rich-text {
  font-family: var(--qode-heading-font-family) !important;
  text-transform: var(--qode-heading-text-transform) !important;
  color: var(--qode-heading-color) !important;
  font-size: var(--qode-h4-fs);
  line-height: var(--qode-h4-lh);
  font-weight: var(--qode-heading-font-weight);
  margin-top: 25px !important;
  margin-bottom: 25px !important;
  word-wrap: break-word !important;
}

body .editor-styles-wrapper h4 a,
body .editor-styles-wrapper h4.wp-block a,
body .editor-styles-wrapper h4.rich-text a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

body .editor-styles-wrapper h4 a:focus, body .editor-styles-wrapper h4 a:hover,
body .editor-styles-wrapper h4.wp-block a:focus,
body .editor-styles-wrapper h4.wp-block a:hover,
body .editor-styles-wrapper h4.rich-text a:focus,
body .editor-styles-wrapper h4.rich-text a:hover {
  color: var(--qode-link-hover-color) !important;
}

body .editor-styles-wrapper h5,
body .editor-styles-wrapper h5.wp-block,
body .editor-styles-wrapper h5.rich-text {
  font-family: var(--qode-heading-font-family) !important;
  text-transform: var(--qode-heading-text-transform) !important;
  color: var(--qode-heading-color) !important;
  font-size: var(--qode-h5-fs);
  line-height: var(--qode-h5-lh);
  font-weight: var(--qode-heading-font-weight);
  margin-top: 25px !important;
  margin-bottom: 25px !important;
  word-wrap: break-word !important;
}

body .editor-styles-wrapper h5 a,
body .editor-styles-wrapper h5.wp-block a,
body .editor-styles-wrapper h5.rich-text a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

body .editor-styles-wrapper h5 a:focus, body .editor-styles-wrapper h5 a:hover,
body .editor-styles-wrapper h5.wp-block a:focus,
body .editor-styles-wrapper h5.wp-block a:hover,
body .editor-styles-wrapper h5.rich-text a:focus,
body .editor-styles-wrapper h5.rich-text a:hover {
  color: var(--qode-link-hover-color) !important;
}

body .editor-styles-wrapper h6,
body .editor-styles-wrapper h6.wp-block,
body .editor-styles-wrapper h6.rich-text {
  font-family: var(--qode-heading-font-family) !important;
  text-transform: var(--qode-heading-text-transform) !important;
  color: var(--qode-heading-color) !important;
  font-size: var(--qode-h6-fs);
  line-height: var(--qode-h6-lh);
  font-weight: var(--qode-h6-fw);
  margin-top: 25px !important;
  margin-bottom: 25px !important;
  word-wrap: break-word !important;
}

body .editor-styles-wrapper h6 a,
body .editor-styles-wrapper h6.wp-block a,
body .editor-styles-wrapper h6.rich-text a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

body .editor-styles-wrapper h6 a:focus, body .editor-styles-wrapper h6 a:hover,
body .editor-styles-wrapper h6.wp-block a:focus,
body .editor-styles-wrapper h6.wp-block a:hover,
body .editor-styles-wrapper h6.rich-text a:focus,
body .editor-styles-wrapper h6.rich-text a:hover {
  color: var(--qode-link-hover-color) !important;
}

.editor-styles-wrapper a,
.editor-styles-wrapper p a {
  color: var(--qode-link-color) !important;
  text-decoration: none;
  transition: color 0.2s ease-out;
  cursor: pointer;
}

.editor-styles-wrapper a:focus, .editor-styles-wrapper a:hover,
.editor-styles-wrapper p a:focus,
.editor-styles-wrapper p a:hover {
  color: var(--qode-link-hover-color) !important;
}

.editor-styles-wrapper p,
.editor-styles-wrapper p.wp-block {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  border: 0;
}

.editor-styles-wrapper p.has-background,
.editor-styles-wrapper p.wp-block.has-background {
  padding: 20px 30px;
}

.editor-styles-wrapper blockquote,
.editor-styles-wrapper blockquote.wp-block-quote {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin: 0;
  padding: 0;
  font-family: var(--qode-heading-font-family);
  text-transform: var(--qode-heading-text-transform);
  color: var(--qode-heading-color);
  font-size: var(--qode-h2-fs);
  line-height: var(--qode-h2-lh);
  font-weight: var(--qode-heading-font-weight);
  border: none !important;
  line-height: 1em;
  padding: 20px 10% 20px 10% !important;
  position: relative;
  quotes: none;
  z-index: 1;
}

.editor-styles-wrapper blockquote.wp-block-quote.is-large, .editor-styles-wrapper blockquote.wp-block-quote.is-style-large,
.editor-styles-wrapper blockquote.wp-block-quote.wp-block-quote.is-large,
.editor-styles-wrapper blockquote.wp-block-quote.wp-block-quote.is-style-large {
  margin: 0;
  padding: 18px 10% 20px 0 !important;
}

.editor-styles-wrapper blockquote.wp-block-pullquote,
.editor-styles-wrapper blockquote.wp-block-quote.wp-block-pullquote {
  padding: 25px !important;
  text-align: center !important;
}

.editor-styles-wrapper blockquote.wp-block-pullquote.alignleft,
.editor-styles-wrapper blockquote.wp-block-quote.wp-block-pullquote.alignleft {
  max-width: 290px;
}

.editor-styles-wrapper blockquote.wp-block-pullquote.alignright,
.editor-styles-wrapper blockquote.wp-block-quote.wp-block-pullquote.alignright {
  max-width: 290px;
}

.editor-styles-wrapper blockquote:before, .editor-styles-wrapper blockquote:after,
.editor-styles-wrapper blockquote.wp-block-quote:before,
.editor-styles-wrapper blockquote.wp-block-quote:after {
  content: '';
}

.editor-styles-wrapper blockquote > *,
.editor-styles-wrapper blockquote.wp-block-quote > * {
  font-family: inherit !important;
  font-size: inherit !important;
  font-weight: inherit !important;
  font-style: inherit !important;
  line-height: inherit !important;
  letter-spacing: inherit !important;
  text-transform: inherit !important;
  color: inherit !important;
  margin: 0;
}

.editor-styles-wrapper blockquote p,
.editor-styles-wrapper blockquote.wp-block-quote p {
  margin: 0 !important;
}

.editor-styles-wrapper blockquote:after,
.editor-styles-wrapper blockquote.wp-block-quote:after {
  content: '';
}

.editor-styles-wrapper blockquote cite,
.editor-styles-wrapper blockquote .wp-block-quote__citation,
.editor-styles-wrapper blockquote .wp-block-pullquote__citation,
.editor-styles-wrapper blockquote.wp-block-quote cite,
.editor-styles-wrapper blockquote.wp-block-quote .wp-block-quote__citation,
.editor-styles-wrapper blockquote.wp-block-quote .wp-block-pullquote__citation {
  display: block;
  margin: 10px 0 0;
  font-style: normal;
  font-weight: 400 !important;
  text-align: inherit !important;
  text-transform: uppercase !important;
}

.editor-styles-wrapper select,
.editor-styles-wrapper select:disabled {
  color: #f2652e;
  border: 1px solid #fff;
}

.editor-styles-wrapper .wp-block {
  max-width: 1100px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.editor-styles-wrapper .wp-block[data-align=full], .editor-styles-wrapper .wp-block.alignfull {
  margin-left: auto !important;
  margin-right: auto !important;
}

.editor-styles-wrapper .wp-block[data-align=left] [data-type="core/button"], .editor-styles-wrapper .wp-block[data-align=right] [data-type="core/button"] {
  margin: 1em 0;
  width: 100%;
}

.editor-styles-wrapper .wp-block[data-align=left] [data-type="core/button"] br, .editor-styles-wrapper .wp-block[data-align=right] [data-type="core/button"] br {
  display: none;
}

.editor-styles-wrapper .wp-block:not([data-align=center])[data-type="core/button"] {
  margin: 1em 0 !important;
}

.editor-styles-wrapper .wp-block:not([data-align=center])[data-type="core/button"] br {
  display: none;
}

.editor-styles-wrapper .wp-block[data-align=left] > .wp-block-image {
  margin: 1rem 2rem 1rem 0 !important;
}

.editor-styles-wrapper .wp-block[data-align=right] > .wp-block-image {
  margin: 0 2rem 1rem 1rem !important;
}

.editor-styles-wrapper .editor-post-title__input {
  font-family: var(--qode-heading-font-family) !important;
  text-transform: var(--qode-heading-text-transform) !important;
  color: var(--qode-heading-color) !important;
  font-size: var(--qode-h2-fs);
  line-height: var(--qode-h2-lh);
  font-weight: var(--qode-heading-font-weight);
  height: auto !important;
  overflow-y: hidden !important;
}

.editor-styles-wrapper .wp-block-paragraph {
  line-height: 1.666em;
}

.editor-styles-wrapper .wp-block-button.wp-block-button__link,
.editor-styles-wrapper .wp-block-button .wp-block-button__link {
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 2em;
  color: var(--qode-additional-text-color);
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 0;
  display: inline-block;
  line-height: 1.45em;
  margin: 0;
  outline: none;
  position: relative;
  text-decoration: none;
  transition: color 0.2s ease-out, background-color 0.2s ease-out, border-color 0.2s ease-out;
  vertical-align: middle;
  width: auto;
  cursor: pointer;
  padding: 10px 39px;
  color: var(--qode-background-color);
  background-color: var(--qode-heading-color);
  border: 1px solid transparent;
  border-radius: 28px;
  height: auto;
  cursor: pointer;
}

.editor-styles-wrapper .wp-block-button.wp-block-button__link:hover,
.editor-styles-wrapper .wp-block-button .wp-block-button__link:hover {
  color: var(--qode-background-color);
  background-color: var(--qode-main-color);
}

.editor-styles-wrapper .wp-block-button.is-style-outline.wp-block-button__link,
.editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link {
  color: var(--qode-heading-color);
  background-color: transparent;
  border: 1px solid var(--qode-heading-color);
  border-width: 1px;
}

.editor-styles-wrapper .wp-block-button.is-style-outline.wp-block-button__link:hover,
.editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link:hover {
  color: var(--qode-background-color);
  background-color: var(--qode-main-color);
  border-color: var(--qode-main-color);
}

.editor-styles-wrapper .wp-block-button.is-style-squared.wp-block-button__link,
.editor-styles-wrapper .wp-block-button.is-style-squared .wp-block-button__link {
  border-radius: 0;
}

.editor-styles-wrapper .wp-block-gallery {
  margin-bottom: 2em;
}

.editor-styles-wrapper .wp-block-gallery ul.blocks-gallery-grid {
  margin: 0 !important;
}

.editor-styles-wrapper .wp-block-gallery ul.blocks-gallery-grid figcaption {
  margin: 0;
  overflow-x: hidden;
}

.editor-styles-wrapper .wp-block-gallery ul.blocks-gallery-grid + figcaption {
  margin-top: 0;
}

.editor-styles-wrapper .wp-block-columns {
  margin-bottom: 28px !important;
  padding: 0 !important;
}

.editor-styles-wrapper .wp-block-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-type="core/column"] > .block-core-columns > .block-editor-inner-blocks {
  margin: 0;
}

.editor-styles-wrapper .wp-block-columns > .block-editor-inner-blocks > .block-editor-block-list__layout .block-list-appender {
  margin: 0;
}

.editor-styles-wrapper .wp-block-pullquote {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  text-align: center !important;
  width: 100% !important;
}

.editor-styles-wrapper .wp-block-pullquote blockquote {
  padding: 25px !important;
}

.editor-styles-wrapper .wp-block-pullquote.alignleft {
  max-width: 290px;
}

.editor-styles-wrapper .wp-block-pullquote.alignright {
  max-width: 290px;
}

.editor-styles-wrapper .wp-block-media-text figure > img,
.editor-styles-wrapper .wp-block-media-text figure > video {
  max-width: unset;
  width: 100%;
  vertical-align: middle;
}

.editor-styles-wrapper [data-type="core/separator"] {
  padding: 0;
}

.editor-styles-wrapper .wp-block-image.alignleft, .editor-styles-wrapper .wp-block-image.alignright {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.editor-styles-wrapper .wp-block-image.aligncenter {
  display: table;
}

.editor-styles-wrapper .wp-block-image .components-resizable-box__container {
  vertical-align: middle;
}

.editor-styles-wrapper [data-align=center] {
  text-align: center;
}

.editor-styles-wrapper [data-align=center] .wp-block-image {
  display: table;
  clear: both;
}

.editor-styles-wrapper [data-align=left] .is-block-content {
  margin: 0 !important;
}

.editor-styles-wrapper [data-align=left] .is-block-content .wp-block-image {
  margin: 1rem 2rem 1rem 0 !important;
}

.editor-styles-wrapper [data-align=left] .wp-block-cover {
  max-width: 290px;
  margin: 1rem 2rem 1rem 0 !important;
}

.editor-styles-wrapper [data-align=right] .is-block-content {
  margin: 0 !important;
}

.editor-styles-wrapper [data-align=right] .is-block-content .wp-block-image {
  margin: 1rem 0 1rem 2rem !important;
}

.editor-styles-wrapper [data-align=right] .wp-block-cover {
  max-width: 290px;
  margin: 1rem 0 1rem 2rem !important;
}

.editor-styles-wrapper [data-type="core/cover"] {
  margin: 0 !important;
}

.editor-styles-wrapper .wp-block-cover {
  margin-bottom: 1rem;
}

.editor-styles-wrapper .wp-block-cover .wp-block-cover__inner-container {
  width: 100% !important;
}

.editor-styles-wrapper .wp-block-cover p, .editor-styles-wrapper .wp-block-cover h1, .editor-styles-wrapper .wp-block-cover h2, .editor-styles-wrapper .wp-block-cover h3, .editor-styles-wrapper .wp-block-cover h4, .editor-styles-wrapper .wp-block-cover h5, .editor-styles-wrapper .wp-block-cover h6 {
  z-index: 1 !important;
  margin: 0 auto !important;
  max-width: 580px !important;
  padding: 14px !important;
  line-height: 1em !important;
}

.editor-styles-wrapper .wp-block-cover p a, .editor-styles-wrapper .wp-block-cover h1 a, .editor-styles-wrapper .wp-block-cover h2 a, .editor-styles-wrapper .wp-block-cover h3 a, .editor-styles-wrapper .wp-block-cover h4 a, .editor-styles-wrapper .wp-block-cover h5 a, .editor-styles-wrapper .wp-block-cover h6 a {
  color: #fff !important;
}

.editor-styles-wrapper .wp-block-cover p a:hover, .editor-styles-wrapper .wp-block-cover h1 a:hover, .editor-styles-wrapper .wp-block-cover h2 a:hover, .editor-styles-wrapper .wp-block-cover h3 a:hover, .editor-styles-wrapper .wp-block-cover h4 a:hover, .editor-styles-wrapper .wp-block-cover h5 a:hover, .editor-styles-wrapper .wp-block-cover h6 a:hover {
  color: #f2652e !important;
}

.editor-styles-wrapper .wp-block-cover *:not(.has-text-color):not(.has-inline-color):not(a) {
  color: #fff !important;
  font-size: 30px !important;
}

.editor-styles-wrapper .wp-block-file {
  color: var(--qode-link-color);
  text-decoration: none;
  transition: color 0.2s ease-out;
  cursor: pointer;
}

.editor-styles-wrapper .wp-block-file:focus, .editor-styles-wrapper .wp-block-file:hover {
  color: var(--qode-link-hover-color);
}

.editor-styles-wrapper .wp-block-group.has-background {
  padding: 20px 30px;
}

.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce li,
.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce p {
  line-height: inherit;
}

.editor-styles-wrapper .wp-caption .wp-caption-dd {
  padding: 0 !important;
  margin: 10px 0 !important;
}

.editor-styles-wrapper .wp-caption.aligncenter {
  margin: auto !important;
}

.editor-styles-wrapper .wp-caption.aligncenter .wp-caption-dd {
  display: flex;
  justify-content: center;
}

.editor-styles-wrapper .wp-caption.alignleft .wp-caption-dd {
  text-align: left;
}

.editor-styles-wrapper .wp-caption.alignright .wp-caption-dd {
  text-align: right;
}

.editor-styles-wrapper figcaption {
  margin-top: 7px;
  margin-bottom: 7px;
}

.editor-styles-wrapper .wp-block-code {
  max-width: 100%;
  background-color: #f6f3ee;
  margin: 15px 0;
  padding: 15px;
}

.editor-styles-wrapper .wp-block-code .block-editor-plain-text {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: monospace;
  font-size: 15px;
  color: #696969;
  background: transparent;
}

.editor-styles-wrapper .wp-block-html {
  max-width: 100%;
  background-color: #f6f3ee;
}

.editor-styles-wrapper .wp-block-html .block-editor-plain-text {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: monospace;
  font-size: 15px;
  color: #696969;
  background: transparent;
}

.editor-styles-wrapper .wp-block-search .wp-block-search__input {
  margin-bottom: 0;
}

.editor-styles-wrapper .wp-block-rss .wp-block-rss__item-title {
  display: inline-block;
  vertical-align: top;
}
